{% extends 'wrapper.html' %}

{% block style %}	

	<link rel="stylesheet" href="static/CSS/builder.css" type="text/css" media="screen" charset="utf-8">

{% endblock %}	

{% block content %}	

	<h1 id="title">Builder Coming Soon…</h1>

	<div class="container">
		<h3 id="subheading">Use this builder for now:</h3>
		<div class="center">
			<button class="btn" onclick="location.href='https://www.mk8dxbuilder.com/';" >Builder</button>
		</div>
		<h3>Builder by: Tobias Mattsson</h3>
	</div>

{% endblock %}	
