{% extends 'wrapper.html' %}

{% block style %}	

	<link rel="stylesheet" href="static/CSS/exsets.css" type="text/css" media="screen" charset="utf-8">

{% endblock %}	

{% block content %}	

	<div class="container">
	    <div class="set c200">
	        <div class="box"></div>
	        <div class="box"></div>
	        <div class="box"></div>
	        <div class="box"></div>
	    </div>
		<div class="set c150">
	        <div class="box"></div>
	        <div class="box"></div>
	        <div class="box"></div>
	        <div class="box"></div>
	    </div>
		<div class="set c50">
	        <div class="box"></div>
	        <div class="box"></div>
	        <div class="box"></div>
	        <div class="box"></div>
	    </div>
	</div>
	<div class="container">
		<div class="set c200">
	        <div class="box"></div>
	        <div class="box"></div>
	        <div class="box"></div>
	        <div class="box"></div>
	    </div>
		<div class="set c150">
	        <div class="box"></div>
	        <div class="box"></div>
	        <div class="box"></div>
	        <div class="box"></div>
	    </div>
		<div class="set c50">
	        <div class="box"></div>
	        <div class="box"></div>
	        <div class="box"></div>
	        <div class="box"></div>
	    </div>
	</div>

{% endblock %}	
