{% extends 'wrapper.html' %}

{% block style %}	

	<link rel="stylesheet" href="static/CSS/home.css" type="text/css" media="screen" charset="utf-8">

{% endblock %}	

{% block content %}	

	<div class="container">
		<img class="logo" src="https://www.mariowiki.com/images/thumb/7/78/Mario_Kart_8_Deluxe_logo.png/800px-Mario_Kart_8_Deluxe_logo.png">
		<h2 class="captions">Kart Options</h2>
		<div class="btnholder">
			<button class="btn" onclick="location.href='{{ url_for("random") }}';" >Randomizer</button>
			<button class="btn" onclick="location.href='{{ url_for("exsets") }}';" >Example Sets</button>
			<button class="btn" onclick="location.href='{{ url_for("builder") }}';" >Kart Builder</button>
		</div>

		<h2 class="captions">Gamemode Options</h2>
		<div class="btnholder">
			<button class="btn">Coming Soon…</button>
		</div>
	</div>

{% endblock %}	
