<!DOCTYPE html>
<html>
    <head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="static/imgs/favicon.png" />
		<link rel="stylesheet" href="static/CSS/wrapper.css" type="text/css" media="screen" charset="utf-8">
		<link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		{% block style %}{% endblock %}
    </head>
    <body>
	<script>0</script>
		<div class="navigation">

			<div class="left">
				<a href="{{ url_for('home') }}">Home</a>
			</div>

			<div class="right">
				<a href="{{ url_for('random') }}">Randomizer</a>
				<a href="{{ url_for('exsets') }}">Example Sets</a>
				<a href="{{ url_for('builder') }}">Builder</a>
				<a href="{{ url_for('about') }}">About</a>
			</div>
		</div>

		<main>
			{% block content %}{% endblock %}
		</main>

		<!-- Need to fix logo positioning… -->
		<img class="jl" src="/static/imgs/logo.png">

		<div class="footer">
			<span>Built/Designed by @JudeLakkis | Assets from Nintendo | Data from luzi82</span>
		</div>
    </body>
</html>
