h1 {
	color: white;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 90px;
	font-weight: bold;
	line-height: 20px;
}

.row {
	font-family: 'Teko', sans-serif;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	line-height: 0px;
	padding-top: 20px;
}

.set {
	flex: 1 1 150px; /*  No stretching: */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
    margin-left: 30px;
	margin-right: 30px;

	max-width: 350px;
	background: white;
	text-align: center;
	border-radius: 20px;
}

.box {
	background: white;
	flex: 0 1 150px; /*  No stretching: */
	margin: 10px;
	height: 130px;
	width: 130px;
	border-radius: 20px;

	text-align: center;
	/* padding-top: 30px; */
}

.heading {
	color: white;
	font-size: 40px;
	padding-top: 30px;
	padding-bottom: 15px;
	padding-right: 2px;
}

.c200 {
	background: linear-gradient(225deg, #FF0076 0%, rgba(45, 117, 187, 0.9) 100%);
}

.c150 {
	background: linear-gradient(225deg, #ED7AAF 13.02%, rgba(45, 117, 187, 0.9) 100%);
}

.c50 {
	background: linear-gradient(225deg, #ED7AAF 0%, rgba(0, 129, 255, 0.9) 100%);
}

.cbattle {
	background: linear-gradient(226.68deg, rgba(45, 117, 187, 0.9) 9.37%, rgba(50, 255, 95, 0.9) 100%);

}

.box img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 0px;
}

.kart, .tire, .glider {
	padding-top: 16px;
	width: 155px;
}

.btn {
	display: block;
	margin: 30px;
	font-family: 'Teko', sans-serif;
	font-weight: bold;
	border-radius: 100rem;
	padding: 1rem;
	font-size: 2rem;
	padding: .3rem 2rem;
	padding-left: 5rem;
	padding-right: 5rem;
	box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
	border: solid 5px transparent;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #2D75BB, #ED7AAF);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px #fff inset;
	cursor: pointer;
}

.btn:hover {
	box-shadow: none;
	color: white;
}


