html, body {
	height: 100%;
    margin: 0;
	padding: 0;
	font-family: 'Teko', sans-serif;
}

/* Scrolling Background Effect */
body {
	background-image: url("/static/imgs/MK8DX_Black_Background.jpg");
	background-position: bottom;
	animation: 180s linear 0s infinite bp;
	min-height: 100%;
    display: grid;
	grid-template-rows: 54px auto 1fr;
	/* minmax(10px, 60px) */
}

@keyframes bp {
  from {
    background-position:  1200px 0;
  }
  
  to {
    background-position:  0 1200px;
  }
}

.navigation {
	background-color: #252525;
	font-weight: bold;
	overflow: hidden;
}

.navigation a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.5rem;
}

.navigation a:hover {
  background: linear-gradient(90deg, rgba(237,122,175,1) 35%, rgba(45,117,187,1) 90%);
  color: white;
}

.left {
	float: left;
}

.right {
	float: right;
}

.btn {
	display: block;
	margin: 30px;
	font-family: 'Teko', sans-serif;
	font-weight: bold;
	border-radius: 100rem;
	padding: 1rem;
	font-size: 2rem;
	padding: .3rem 2rem;
	padding-left: 5rem;
	padding-right: 5rem;
	box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
	border: solid 5px transparent;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #2D75BB, #ED7AAF);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px #fff inset;
	cursor: pointer;
}

.btn:hover {
	box-shadow: none;
	color: white;
}

.btnholder {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.footer {
	text-align: center;
	font-weight: normal;
	color: white;
	background: linear-gradient(90deg, rgba(237,122,175,1) 35%, rgba(45,117,187,1) 90%);
}

.jl {
	width: 40px;
	margin-left: auto;
}

/* Mobile Fixes */
@media only screen and (max-width: 420px) {

	.navigation a {
		font-size: 15px;
	}
	
}

